<% content_for :optional_resources do %>
<% end %>

<!-- try to pass data to javascript -->
<!-- <%= javascript_tag do %>
	window.familyTree = <%= raw @family.to_json %>
	var tree = new FamilyTree();
	tree.initialize(familyTree);
<% end %> -->

<div id="family_tree">
	
</div>
<div id="descriptions">
	<h2>家庭成员</h2>
	<div id="description">
		<h3>顾伊冉</h3>
		<p>blabla</p>
	</div>
	<div id="description">
		<h3>顾伊冉</h3>
		<p>blabla</p>
	</div>
	<div id="description">
		<h3>顾伊冉</h3>
		<p>blabla</p>
	</div>
	<div id="description">
		<h3>顾伊冉</h3>
		<p>blabla</p>
	</div>
	<div id="description">
		<h3>顾伊冉</h3>
		<p>blabla</p>
	</div>
</div>
