<div>
<h3>TODO:</h3>
<ul>
	<li>Header css</li>
	<li>Gallery outline</li>
	<li>Gallery cancel loading</li>
	<li>Activity modal view</li>
	<li>Activity photo hint</li>
	<li>Session management -- 1 session per user / session expiration</li>
	<Li>Uploaded image waterprint</Li>
	<li>Family member pic and description</li>
	<li>Internal page</li>
</ul>
</div>
