html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 85%;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
}

body {
	height: 100%;
	width: 1000px;
	margin: 0 auto;
	
	/*http://www.colorzilla.com/gradient-editor/*/
	background: -moz-linear-gradient(left,  rgba(255,232,232,0.5) 0%, rgba(255,238,238,0.5) 24%, rgba(255,252,252,0) 86%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,232,232,0.5)), color-stop(24%,rgba(255,238,238,0.5)), color-stop(86%,rgba(255,252,252,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,232,232,0.5) 0%,rgba(255,238,238,0.5) 24%,rgba(255,252,252,0) 86%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,232,232,0.5) 0%,rgba(255,238,238,0.5) 24%,rgba(255,252,252,0) 86%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,232,232,0.5) 0%,rgba(255,238,238,0.5) 24%,rgba(255,252,252,0) 86%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,232,232,0.5) 0%,rgba(255,238,238,0.5) 24%,rgba(255,252,252,0) 86%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffe8e8', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

ul {
	padding: 0px;
	margin: 0px;
}

ul li {
	list-style-type: none;
}


